/* 

NAVY #1b4fb8
CORAL fc9493
SILVER 8594cc
PURPLE 812bde
*/

body {
    background-color: #215bce;
    color: #fff;
}

.navbar {
    background-color: #1b4fb8;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.jumbotron {
    background-color: #215bce;
    color: #fff;
}

.container {
    background-color: #8594cc;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h2,
h3 {
    color: #ffff;
}

/* Add this style for smooth transition */
#animated-title {
    transition: opacity 1s ease-in-out;
}

/* Add this style to initially hide the element */
#animated-title.hidden {
    opacity: 0;
}

.bridesmaid-container {
    background-color: #fc9493;
    padding-top: 20px;
    padding-bottom: 40px;
}

.bridesmaid-header {
    color: #fc9493;
}

.bridesmaid-text {
    color: #ffff;
}

.groomsman-container {
    background-color: #1b4fb8;
    padding-top: 20px;
    padding-bottom: 40px;
}

.groomsman-header {
    color: #1b4fb8;
}

.groomsman-text {
    color: #fff;
}

/* Define keyframes for the slide animation */
@keyframes slideAndCover {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
